/* Genel Sıfırlama ve Fontlar */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  overflow-x: hidden;
  /* Yatay kaydırmayı engelle */
}

/* Tüm Uygulama Konteyneri */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}